# --------------------------------------------------------------
# Ignore all files, due to I would like to use whitelist rules
# --------------------------------------------------------------

*

# --------------------------------------------------------------
# git files
# --------------------------------------------------------------

!.gitignore
!.gitattributes

# --------------------------------------------------------------
# productive files
# --------------------------------------------------------------

!main.env

# --------------------------------------------------------------
# library files
# --------------------------------------------------------------

!lib
!lib/*.env
